.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #1C1D22;
  }
  
  .left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 2rem;
    background: url('/bubbles.svg') no-repeat center;
    background-size: contain;
    position: relative;
  }
  
  .logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .welcomeMessage {
    font-size: 5rem;
    margin-bottom: 1rem;
    position: relative;
    top: 1rem;
    margin-left: 2rem;
  }
  
  .createAccountLink {
    color: #FEA451;
    text-decoration: none;
    margin-left: 0.5rem;
  }
  
  .terms {
    position: absolute;
    bottom: 1rem;
    text-align: center;
    font-size: 0.75rem;
    color: #fff;

    a{
      color: #FEA451;
    }
  }
  
  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }
  
  .googleButton {
    background: #333;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 25px;
    background: linear-gradient(145deg, #2e2f36, #17171b);
    box-shadow: 5px 5px 10px #151516, -5px -5px 10px #27282f;
  }
  
  .input {
    background: linear-gradient(145deg, #2e2f36, #17171b);
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #151516, -5px -5px 10px #27282f;
  }
  
  .link {
    color: #FEA451;
    text-decoration: none;
    margin-bottom: 1rem;
    text-align: right;
  }
  
  .textWhite {
    color: #FFFFFF;
  }
  
  .loginButton {
    background: linear-gradient(145deg,  #653100a2, #1c1d2291);
    border: none;
    padding: 1rem;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #151516, -5px -5px 10px #27282f;
    align-self: center;
    width: 60%;

    &:hover{
        background: linear-gradient(145deg,  #cf6909a2, #1c1d2291);

    }
  }