.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #1C1D22;
  position: relative;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Exo 2', sans-serif;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1rem;
  margin-top: -18rem; // Adjust this to add space from the top

  .subtitle {
    font-size: 1rem;
    color: #aaa;
    margin-top: 1rem; // Adjust this to add space between title and subtitle
  }
}

.label {
  position: relative;
  align-self: flex-start;
  font-size: 1rem;
  color: #aaa;
 margin-bottom: 2.5rem; /* Added space between label and input */
}

.input {
  background: linear-gradient(145deg, #2e2f36, #17171b);
  border: none;
  padding: 1rem;
  margin-top: 2rem; /* Added margin-top to create space from the title */
  color: #fff;
  border-radius: 25px;
  box-shadow: 5px 5px 10px #151516, -5px -5px 10px #27282f;
  width: 100%;
  max-width: 400px; /* Adjusted to make the input wider */
}

.resetButton {
  background: linear-gradient(145deg,  #2914012f, #4221016b, #9e5007, #020100b9 );
  border: none;
  padding: 1rem;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 5px 5px 10px #151516, -5px -5px 10px #27282f;
  width: 60%; /* Adjusted to make the button smaller */
  max-width: 200px; /* Set a maximum width to control the size */
  margin: 2rem auto 0 auto; /* Center the button */
  display: block;
}

.resetButton:hover {
  background: linear-gradient(145deg, #e98527a2, #1c1d2291);
}

.authButtons {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  gap: 1rem;
}

.login {
  color: #eb994d;
  text-decoration: none;
  font-size: 1rem;
  align-self: center;
}

/*.signup {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #201e1c;
  border-radius: 15px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.signup:hover {
  background-color: #793e07;
}*/

.signup {
  padding: 0.5rem 1rem;
  border: 1px solid #EF7707;
  border-color: linear-gradient(145deg, #f3a255, #1b0e01);
  border-radius: 5px;
  background-color: #1C1D22;
  //background: linear-gradient(145deg, #ff8c00, #ff4500);
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup:hover {
  background: linear-gradient(145deg, #EF7707, #e49d5b);
}
