/* Add this to your globals.css file */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  